@import "mixins";

$primary-color: #ff7b54;
$secondary-color: #27e193;
$third-color: #222222;

// .introImgContainer {
// 	position: relative;
// 	overflow: hidden;
// 	&:after {
// 		content: "";
// 		position: absolute;
// 		background-color: #27e193;
// 		inset: 0;
// 		z-index: 100;
// 		animation: RideauFadeIn 1s ease-in-out forwards;
// 		transform-origin: top;
// 	}
// 	&--Dark {
// 		&:after {
// 			background-color: #222222;
// 		}
// 	}
// }
// @keyframes RideauFadeIn {
// 	0% {
// 		transform: scaleY(100%);
// 	}
// 	100% {
// 		transform: scaleY(0);
// 	}
// }

.introTxtContainer {
	animation: OpacityFadeIn 1s ease-in-out forwards;
}
@keyframes OpacityFadeIn {
	0% {
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.borderNone {
	.scroll-up & {
		border: none;
	}
	.scroll-down & {
		border: none;
	}
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: top 300ms ease-in-out;
	z-index: 10;
	&.scroll-up {
		top: 0;
	}
	&.scroll-down {
		top: -20%;
	}
}

.btn-form {
	&.disabled-btn {
		cursor: wait;
		opacity: 0.5;
	}
}

.svgAbout {
	width: 40px;
	margin: 12px;
	height: 100%;
}
.svg-sphere {
	width: 17vw;
	height: 100%; /* aspect ratio */
	margin: -5px 10px 0 10px;
	@include sm {
		margin: -15px 30px 0 30px;
	}
}
.svg-donut {
	width: 8vw;
	height: 100%; /* aspect ratio */
	margin: -1px 10px 0 10px;
	@include sm {
		width: 3vw;
		margin: -1px 15px 0 15px;
	}
}
.backToTopHoverDark {
	.svg-donut {
		fill: #222222;
	}
	&:hover,
	&:focus {
		.svg-donut {
			fill: #dcdad9;
		}
	}
}

.backToTopHover {
	.svg-donut {
		fill: #dcdad9;
	}
	&:hover,
	&:focus {
		.svg-donut {
			fill: #213b86;
		}
	}
}

.svg-personnage {
	width: 100%;
	@include sm {
		width: auto;
	}
}
.svg-arrowProject {
	width: 19px;
	height: 100%;
	fill: #213b86;
	&-dark {
		fill: #222222;
	}
}
.svg-arrow {
	width: 18px;
	&.smallArrow {
		width: 16px;
	}
}

.linkProject {
	.arrow-color {
		fill: #213b86;
		&-dark {
			fill: #222222;
		}
	}
	&:hover {
		.arrow-color {
			fill: #101d43;
			&-dark {
				fill: #9ca3af;
			}
		}
	}
}

.linkForm {
	.arrow-color {
		fill: #bac8ee;
		&-dark {
			fill: #9ca3af;
		}
	}
	&:hover {
		.arrow-color {
			fill: #27e193;
			&-dark {
				fill: #222222;
			}
		}
	}
}

.linkProjects {
	.arrow-color {
		fill: #213b86;
		&-dark {
			fill: #dcdad9;
		}
	}
	&:hover {
		.arrow-color {
			fill: #101d43;
			&-dark {
				fill: #9ca3af;
			}
		}
	}
}

.prevBtn {
	-webkit-text-stroke: 1px #dcdad9;
	text-shadow: 1px #dcdad9;
	font-size: 2.2rem;

	&:hover {
		-webkit-text-stroke: 1px #27e193;
		text-shadow: 1px #27e193;
	}
	@include md {
		font-size: inherit;
		-webkit-text-stroke: 2px #dcdad9;
		text-shadow: 2px #dcdad9;
		paint-order: stroke fill;
		&:hover {
			-webkit-text-stroke: 2px #27e193;
			text-shadow: 2px #27e193;
		}
	}

	&--Dark {
		-webkit-text-stroke: 1px #dcdad9;
		text-shadow: 1px #dcdad9;
		font-size: 2.2rem;
	}
}
.prevBtnContainer {
	&:hover {
		.prevBtn {
			-webkit-text-stroke: 1px #27e193;
			text-shadow: 1px #27e193;
			&--Dark {
				-webkit-text-stroke: 1px #27e193;
				text-shadow: 1px #27e193;
			}
		}
	}
	@include md {
		&:hover {
			.prevBtn {
				-webkit-text-stroke: 2px #27e193;
				text-shadow: 2px #27e193;
				&--Dark {
					-webkit-text-stroke: 2px #27e193;
					text-shadow: 2px #27e193;
				}
			}
		}
	}
}

.objectPositionLeft27 {
	object-position: 27%;
}

.objectPositionLeft15 {
	object-position: 15%;
}

.text-wrapper {
	display: flex;
	justify-content: flex-start;
}

.messageDefilant {
	display: flex;
	justify-content: flex-start;
	white-space: nowrap;
	animation: Scroll 12000ms linear infinite;
}

.messageDefilantHover {
	display: flex;
	justify-content: flex-start;
	white-space: nowrap;
	&:hover,
	&:focus {
		animation: Scroll 30s linear infinite;
	}
}

@keyframes Scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.competencesGrp span {
	transform: translate3d(150%, 0px, 0px);
}

.titleAnim {
	transform: translate3d(0, 100%, 0px);
	opacity: 0;
}

.texteAnim {
	opacity: 0;
}

.boxAnim {
	scale: 0.5;
	opacity: 0;
}
